In [7]:
import pandas as pd

data = pd.read_csv('received_txns.csv')

/home/saazi/ml/env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (0,5,7,8,13,14,16,18,19,24,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
data.head()

,TranId,TransNo,CustomerRef,CustomerName,CustomerType,CustomerTel,Area,Tin,TranAmount,PaymentDate,...,RegionCode,DistrictCode,VendorToken,ReconFileProcessed,Status,SentToVendor,UtilitySentDate,QueueTime,Unnamed: 33,Unnamed: 34
0,98372287,898372287,4249878812,"NAKIMULI, REBECCA",PREPAID,256781803185,8,NaN,15000,8/4/20 0:00,...,NaN,NaN,NaN,NaN,INSERTED,1.0,NaN,08:03:39 PM,NaN,NaN
1,98372286,898372286,4264940257,ACHAR MIKE,PREPAID,256784578079,10,NaN,20000,8/4/20 0:00,...,NaN,NaN,NaN,NaN,INSERTED,1.0,NaN,08:03:39 PM,NaN,NaN
2,98372285,898372285,4230031777,"WERE,",PREPAID,256782505141,13,NaN,10000,8/4/20 0:00,...,NaN,NaN,NaN,NaN,INSERTED,1.0,NaN,08:03:39 PM,NaN,NaN
3,98372284,898372284,4242893388,"NEGESA, ESTHER",PREPAID,256756409409,10,NaN,9000,8/4/20 0:00,...,NaN,NaN,NaN,NaN,INSERTED,1.0,NaN,08:03:39 PM,NaN,NaN
4,98372283,898372283,4257567075,KAZINDA (7) ELIZABETH,PREPAID,256782442555,16,NaN,18000,8/4/20 0:00,...,NaN,NaN,NaN,NaN,INSERTED,1.0,NaN,08:03:39 PM,NaN,NaN

In [9]:
data.shape

(100061, 35)

In [10]:
data.columns

Index(['TranId', 'TransNo', 'CustomerRef', 'CustomerName', 'CustomerType',
       'CustomerTel', 'Area', 'Tin', 'TranAmount', 'PaymentDate', 'RecordDate',
       'TranType', 'PaymentType', 'VendorTranId', 'ReceiptNo', 'TranNarration',
       'SmsSent', 'VendorCode', 'Teller', 'Reversal', 'Cancelled', 'Offline',
       'UtilityCode', 'UtilityTranRef', 'SentToUtility', 'RegionCode',
       'DistrictCode', 'VendorToken', 'ReconFileProcessed', 'Status',
       'SentToVendor', 'UtilitySentDate', 'QueueTime', 'Unnamed: 33',
       'Unnamed: 34'],
      dtype='object')

In [11]:
data.isnull().sum()

TranId                     0
TransNo                    0
CustomerRef                1
CustomerName               1
CustomerType            9972
CustomerTel                0
Area                    6855
Tin                    99675
TranAmount                 1
PaymentDate                1
RecordDate                61
TranType                  61
PaymentType            31266
VendorTranId              62
ReceiptNo              37818
TranNarration            365
SmsSent                   61
VendorCode               122
Teller                   122
Reversal                 122
Cancelled                122
Offline                  122
UtilityCode              122
UtilityTranRef          6680
SentToUtility            122
RegionCode             99264
DistrictCode           99257
VendorToken            99266
ReconFileProcessed    100061
Status                   124
SentToVendor             123
UtilitySentDate          143
QueueTime              17570
Unnamed: 33           100059
Unnamed: 34           100061
dtype: int64

In [12]:

# column has to have atleast a given number of non-NANs to survive
survey = data.dropna(thresh=90000, axis=1)

In [14]:
survey.isnull().sum()

TranId                0
TransNo               0
CustomerRef           1
CustomerName          1
CustomerType       9972
CustomerTel           0
Area               6855
TranAmount            1
PaymentDate           1
RecordDate           61
TranType             61
VendorTranId         62
TranNarration       365
SmsSent              61
VendorCode          122
Teller              122
Reversal            122
Cancelled           122
Offline             122
UtilityCode         122
UtilityTranRef     6680
SentToUtility       122
Status              124
SentToVendor        123
UtilitySentDate     143
dtype: int64

In [15]:
survey.head()

,TranId,TransNo,CustomerRef,CustomerName,CustomerType,CustomerTel,Area,TranAmount,PaymentDate,RecordDate,...,Teller,Reversal,Cancelled,Offline,UtilityCode,UtilityTranRef,SentToUtility,Status,SentToVendor,UtilitySentDate
0,98372287,898372287,4249878812,"NAKIMULI, REBECCA",PREPAID,256781803185,8,15000,8/4/20 0:00,8/4/20 20:03,...,256781803185,0,0.0,0.0,UMEME,NaN,0,INSERTED,1.0,NaN
1,98372286,898372286,4264940257,ACHAR MIKE,PREPAID,256784578079,10,20000,8/4/20 0:00,8/4/20 20:03,...,256784578079,0,0.0,0.0,UMEME,NaN,0,INSERTED,1.0,NaN
2,98372285,898372285,4230031777,"WERE,",PREPAID,256782505141,13,10000,8/4/20 0:00,8/4/20 20:03,...,256782505141,0,0.0,0.0,UMEME,NaN,0,INSERTED,1.0,NaN
3,98372284,898372284,4242893388,"NEGESA, ESTHER",PREPAID,256756409409,10,9000,8/4/20 0:00,8/4/20 20:03,...,256786986414,0,0.0,0.0,UMEME,NaN,0,INSERTED,1.0,NaN
4,98372283,898372283,4257567075,KAZINDA (7) ELIZABETH,PREPAID,256782442555,16,18000,8/4/20 0:00,8/4/20 20:03,...,256782442555,0,0.0,0.0,UMEME,NaN,0,INSERTED,1.0,NaN

In [16]:
# My custom class wherein are libraries like pandas ,mpl,np etc.
from preprocessor import *
prep = Preprocessor()

TypeError: __init__() missing 1 required positional argument: 'df'