In [15]:
from preprocessor import *
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
#from imblearn.oversampling import SMOTE
from keras import Sequential
from keras.layers import Dense
from collections import Counter

In [16]:
data = pd.read_csv('LoanPrediction/train_data.csv')


prep = Preprocessor()


prep.overview(data)

Dataset contains 614 rows and 13 columns

Data types of the raw (uncleaned) data:
Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

Categorical features of the dataset: ['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'Property_Area', 'Loan_Status']

Numeric features of the dataset: ['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History']

Checking for features with null values...

Credit_History       50
Self_Employed        32
LoanAmount           22
Dependents           15
Loan_Amount_Term     14
Gender               13
Married               3
Loan_Status           0
Property_Area         0
CoapplicantIncome     0
ApplicantIncome       0
Education             0
Loan_ID               0
dtype: int64

In [17]:
df = data.dropna()
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y

In [18]:
df = df.drop('Loan_ID',axis=1)

In [19]:

df['LoanAmount'] = (df['LoanAmount']*1000).astype(int)
print(Counter(df['Loan_Status']))
percentage = Counter(df['Loan_Status'])['Y'] / df['Loan_Status'].size
print(f'Percentage of approved loans in training dataset: {percentage:.3f} %')

Counter({'Y': 332, 'N': 148})
Percentage of approved loans in training dataset: 0.692 %

In [26]:
pre_y = df['Loan_Status']
pre_x = df.drop('Loan_Status',axis= 1)
dm_x = pd.get_dummies(pre_x)
dm_y = pre_y.map(dict(Y=1, N=0))
dm_y

1      0
2      1
3      1
4      1
5      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 480, dtype: int64

In [157]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

y_pred_clf = clf.predict(X_test)
y_pred_svr = svr.predict(X_test)

print(f'Mean absolute error RF : {mean_absolute_error(y_test,y_pred_clf):.5f}')
print(f'Mean squared error RF : {mean_squared_error(y_test,y_pred_clf):.5f}')
print(f'R2 Score:            {r2_score(y_test,y_pred_clf):.5f}\n')

print(f'Mean absolute error for SVR : {mean_absolute_error(y_test,y_pred_svr):.5f}')
print(f'Mean squared error for SVR : {mean_squared_error(y_test,y_pred_svr):.5f}')
print(f'R2 Score for SVR :            {r2_score(y_test,y_pred_svr):.5f}')

Mean absolute error RF : 0.02474
Mean squared error RF : 0.00139
R2 Score:            0.89704

Mean absolute error for SVR : 0.04652
Mean squared error for SVR : 0.00401
R2 Score for SVR :            0.70338

# Pickling the trained model
filename = 'housing.pkl'
joblib.dump(clf,filename)

In [11]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

mdl = joblib.load('housing.pkl')
y_pred_mdl = mdl.predict(X_test)

print(f'Mean absolute error RF : {mean_absolute_error(y_test,y_pred_mdl):.5f}')
print(f'Mean squared error RF : {mean_squared_error(y_test,y_pred_mdl):.5f}')
print(f'R2 Score:            {r2_score(y_test,y_pred_mdl):.5f}\n')

Mean absolute error RF : 0.02474
Mean squared error RF : 0.00139
R2 Score:            0.89704