In [2]:
from preprocessor import *

In [4]:
train = pd.read_csv('received_txns.csv')

In [20]:
train.head()

,TranId,TransNo,CustomerRef,CustomerName,CustomerType,CustomerTel,Area,Tin,TranAmount,PaymentDate,...,RegionCode,DistrictCode,VendorToken,ReconFileProcessed,Status,SentToVendor,UtilitySentDate,QueueTime,Unnamed: 33,Unnamed: 34
0,98372287,898372287,4249878812,"NAKIMULI, REBECCA",PREPAID,256781803185,8,NaN,15000,8/4/20 0:00,...,NaN,NaN,NaN,NaN,INSERTED,1.0,NaN,08:03:39 PM,NaN,NaN
1,98372286,898372286,4264940257,ACHAR MIKE,PREPAID,256784578079,10,NaN,20000,8/4/20 0:00,...,NaN,NaN,NaN,NaN,INSERTED,1.0,NaN,08:03:39 PM,NaN,NaN
2,98372285,898372285,4230031777,"WERE,",PREPAID,256782505141,13,NaN,10000,8/4/20 0:00,...,NaN,NaN,NaN,NaN,INSERTED,1.0,NaN,08:03:39 PM,NaN,NaN
3,98372284,898372284,4242893388,"NEGESA, ESTHER",PREPAID,256756409409,10,NaN,9000,8/4/20 0:00,...,NaN,NaN,NaN,NaN,INSERTED,1.0,NaN,08:03:39 PM,NaN,NaN
4,98372283,898372283,4257567075,KAZINDA (7) ELIZABETH,PREPAID,256782442555,16,NaN,18000,8/4/20 0:00,...,NaN,NaN,NaN,NaN,INSERTED,1.0,NaN,08:03:39 PM,NaN,NaN

In [6]:
train.describe()

,TransNo,Cancelled,Offline,DistrictCode,VendorToken,ReconFileProcessed,SentToVendor,Unnamed: 34
count,1.000610e+05,9.993900e+04,99939.0,804.000000,7.950000e+02,0.0,99938.000000,0.0
mean,8.977691e+08,2.569279e+06,0.0,0.990050,1.471769e+08,NaN,0.912856,NaN
std,2.217340e+07,8.122294e+08,0.0,0.099315,3.277689e+04,NaN,0.282579,NaN
min,0.000000e+00,0.000000e+00,0.0,0.000000,1.471246e+08,NaN,0.000000,NaN
25%,8.982899e+08,0.000000e+00,0.0,1.000000,1.471498e+08,NaN,1.000000,NaN
50%,8.983150e+08,0.000000e+00,0.0,1.000000,1.471672e+08,NaN,1.000000,NaN
75%,8.983453e+08,0.000000e+00,0.0,1.000000,1.472078e+08,NaN,1.000000,NaN
max,8.983723e+08,2.567711e+11,0.0,1.000000,1.472313e+08,NaN,2.000000,NaN

In [7]:
train.isnull().sum()

TranId                     0
TransNo                    0
CustomerRef                1
CustomerName               1
CustomerType            9972
CustomerTel                0
Area                    6855
Tin                    99675
TranAmount                 1
PaymentDate                1
RecordDate                61
TranType                  61
PaymentType            31266
VendorTranId              62
ReceiptNo              37818
TranNarration            365
SmsSent                   61
VendorCode               122
Teller                   122
Reversal                 122
Cancelled                122
Offline                  122
UtilityCode              122
UtilityTranRef          6680
SentToUtility            122
RegionCode             99264
DistrictCode           99257
VendorToken            99266
ReconFileProcessed    100061
Status                   124
SentToVendor             123
UtilitySentDate          143
QueueTime              17570
Unnamed: 33           100059
Unnamed: 34           100061
dtype: int64

In [9]:
train2 = train.dropna(thresh=50000,axis=1)

In [15]:
train2.shape

(100061, 28)

In [11]:
train2.isnull().sum().sort_values()

TranId                 0
TransNo                0
CustomerTel            0
CustomerRef            1
CustomerName           1
TranAmount             1
PaymentDate            1
SmsSent               61
TranType              61
RecordDate            61
VendorTranId          62
SentToUtility        122
VendorCode           122
Teller               122
Reversal             122
Cancelled            122
Offline              122
UtilityCode          122
SentToVendor         123
Status               124
UtilitySentDate      143
TranNarration        365
UtilityTranRef      6680
Area                6855
CustomerType        9972
QueueTime          17570
PaymentType        31266
ReceiptNo          37818
dtype: int64

In [14]:
train2['PaymentType'].unique()

array(['2', nan, 'INFOCOM', '1', '2707', '4469', '40:03.0', '134', '1761',
       '6097', '195', '1088', '2434', '949', '250', '2571', 'CASH',
       '4832', '5740', '5873', '6793', '5651', '1355', '2552', '707',
       '478', '5427', '242', '1787', '479', '6488', '4910', '2155',
       '2074', '6139', '4462', '2977', '1522'], dtype=object)

In [19]:
train2['TranAmount'] = pd.to_numeric(train2['TranAmount'])
train2.dtypes

ValueError: Unable to parse string "KIL" at position 21414

In [18]:
plt.figure(figsize=(10,8))
sns.barplot("PaymentType",data = train2 );

TypeError: unsupported operand type(s) for /: 'str' and 'int'